/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

/* VARIABLES */
:root {
    --light-text: #fff;
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
    --bg-grad-1: hsl(214, 47%, 23%);
    --bg-grad-2: hsl(237, 49%, 15%);
    --scissors-1: hsl(39, 89%, 49%);
    --scissors-2: hsl(40, 84%, 53%);
    --paper-1: hsl(230, 89%, 62%);
    --paper-2: hsl(230, 89%, 65%);
    --rock-1: hsl(349, 71%, 52%);
    --rock-2: hsl(349, 70%, 56%);
    --shadow-light: rgba(0, 0, 0, 0.149);
    --shadow-dark: rgba(0, 0, 0, 0.302);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: radial-gradient(at top, var(--bg-grad-1), var(--bg-grad-2));
    min-height: 100vh;
    color: var(--light-text);
    /* overflow-y: hidden; */
}

/* main content */

.container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 1.5em auto;
    height: 150px;
    padding: 1.5em;
    border: 2px solid #fff;
    border-radius: 1em;
    
}


.score {
    padding: 1em;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
    width: 20%;
    border-radius: .5em;
}

.score__title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--score-text);
}

.score__no {
    font-size: 3rem;
    color: var(--dark-text);
}

@media (min-width: 320px) and (max-width: 474px) {
    .container {
        max-width: 375px;
    }

    .header {
        margin: 2em 1.5em 1em 1.5em;
        padding: 1em 1em 1em 1.5em;
        align-items: center;
        height: 100px;
        border-radius: .5em;
    }

    .logo {
        width: 100px;
        height: 65px;
    }

    .score {
        width: 37%;
        padding: 0.4em;
    }

    .score__no {
        font-size: 2.4rem;
    }
}

@media (min-width: 475px) and (max-width: 719px) {

    .container {
        max-width: 719px;
    }

    .header {
        margin: 2em 1.5em 1em 1.5em;
        padding: 1em 1em 1em 1.5em;
        align-items: center;
        height: 120px;
        border-radius: .5em;
    }

    .logo {
        width: 120px;
        height: 80px;
    }

    .score {
        width: 25%;
        padding: 0.4em;
    }

    .score__no {
        font-size: 2.4rem;
    }

}


/* Game */


.game {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "rock paper"
    "scissors scissors";
    place-items: center;
    height: 25rem;
    padding-top: 4rem;
}

.game::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 28%;
    top: 35%;
    background: url('../images/bg-triangle.svg') no-repeat;
    z-index: -1;
}

.choice-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.choice {
    position: relative;
    width: 10rem;
    height: 10rem;
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0.5rem var(--shadow-light);
}

.choice::before,
.choice::after {
    content: '';
    position: absolute;
    left: -15%;
    right: -15%;
    width: 130%;
    height: 130%;
    border-radius: 50%;
    z-index: -1;
}

.choice::after {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.choice-btn:focus .choice::after {
    opacity: 1;
    box-shadow: 0 0 0 2rem #223351;
    z-index: -2;
}

.choice img {
    transform: scale(1.3);
}

.choice.rock::before {
    background: linear-gradient(to bottom, var(--rock-1), var(--rock-2));
    box-shadow: 0 0.5rem var(--shadow-dark), 0 0.5rem var(--rock-2);
}

.choice.paper::before {
    background: linear-gradient(to bottom, var(--paper-1), var(--paper-2));
    box-shadow: 0 0.5rem var(--shadow-dark), 0 0.5rem var(--paper-2);
}

.choice.scissors::before {
    background: linear-gradient(to bottom, var(--scissors-1), var(--scissors-2));
    box-shadow: 0 0.5rem var(--shadow-dark), 0 0.5rem var(--scissors-2);
}

.choice-btn[data-choice="rock"] {
    grid-area: rock;
}

.choice-btn[data-choice="paper"] {
    grid-area: paper;
}

.choice-btn[data-choice="scissors"] {
    grid-area: scissors;
}


@media (min-width: 320px) and (max-width: 474px) {
    .game {
        margin: auto 2em;
        gap: 2.5em;
    }

    .game::before {
        left: -1.1%;
        top: 29%;
    }
    
    .choice img {
        transform: scale(0.7);
    }

    .choice {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@media (min-width: 475px) and (max-width: 574px) {
    .game {
        margin: auto 2em;
        gap: 2.5em;
    }

    .game::before {
        left: 15%;
        top: 29%;
    }
    
    .choice img {
        transform: scale(0.7);
    }

    .choice {
        width: 7.5rem;
        height: 7.5rem;
    }
}

@media (min-width: 575px) and (max-width: 619px) {
    .game {
        margin: auto 2em;
        gap: 2.5em;
    }

    .game::before {
        left: 20%;
        top: 29%;
    }
    
    .choice img {
        transform: scale(0.7);
    }

    .choice {
        width: 7.5rem;
        height: 7.5rem;
    }
}

@media (min-width: 620px) and (max-width: 719px) {
    .game {
        margin: auto 2em;
        gap: 2.5em;
    }

    .game::before {
        left: 23%;
        top: 29%;
    }
    
    .choice img {
        transform: scale(0.7);
    }

    .choice {
        width: 8.5rem;
        height: 8.5rem;
    }
}


/* Results */

.results {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    place-items: center;
    grid-template-areas: 'you-title ai-title'
    'you-picked ai-picked';
    max-width: 1000px;
    margin: 0 auto;
}

.results__heading {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    padding: 4rem 0 8rem;
    text-transform: uppercase;
}

.results__result {
    min-width: 10rem;
    min-height: 10rem;
    background: #16213d;
    border-radius: 50%;
    transform: scale(1.1);
    z-index: -1;
}

.results__heading:first-of-type {
    grid-area: you-title;
}

.results__heading:last-of-type {
    grid-area: ai-title;
}

.results__result:first-of-type {
    grid-area: you-picked;
}

.results__result:last-of-type {
    grid-area: ai-picked;
}

.results.show-winner {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.results__winner {
    grid-area: result-winner;
    display: grid;
    place-items: center;
}

.winner .choice::after {
    box-shadow: 0 0 0 40px #293251,
                0 0 0 80px #232c4b,
                0 0 0 130px #1e2949;

    opacity: 1;
    animation: winner 1s ease forwards;
}

@keyframes winner {
    from {
        opacity: 0;
}

    to {
        opacity: 1;
    }
}

.results__text {
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
}

.play-again {
    background: #fff;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.6em;
    color: var(--dark-text);
    padding: 0.6rem 3.5rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.play-again:focus {
    border: 2px solid var(--header-outline);
}

@media (min-width: 320px) and (max-width: 474px) {
    .results {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        place-items: center;
        grid-template-areas: 'you-picked ai-picked'
        'you-title ai-title';
        max-width: 375px;
        margin: 7em auto 0em;
    }

    .results__heading {
        font-size: 1rem;
    }

    .results__result {
        min-width: 5rem;
        min-height: 5rem;
        background: #16213d;
        border-radius: 50%;
        transform: scale(1.1);
        z-index: -1;
    }

    .results.show-winner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "you-picked ai-picked"
        "you-title ai-title"
        "result-winner result-winner";
    }

    .results__winner {
        position: relative;
        bottom: 6em;
    }

    .results__text {
        font-size: 3rem;
        padding-bottom: .5rem;
        text-transform: uppercase;
    }

    .play-again {
        font-size: 1rem;
        padding: 0.6rem 2rem;
    }

    .winner .choice::after {
        box-shadow: 0 0 0 20px #293251,
                    0 0 0 40px #232c4b,
                    0 0 0 70px #1e2949;
    
        opacity: .07;
        animation: winner 1s ease forwards;
    }

    .choice::after {
        z-index: -2;
    }
    
}

@media (min-width: 475px) and (max-width: 574px) {
    .results {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        place-items: center;
        grid-template-areas: 'you-picked ai-picked'
        'you-title ai-title';
        max-width: 550px;
        margin: 5em auto 0em;
    }

    .results__heading {
        font-size: 1rem;
    }

    .results__result {
        min-width: 5rem;
        min-height: 5rem;
        background: #16213d;
        border-radius: 50%;
        transform: scale(1.1);
        z-index: -1;
    }

    .results.show-winner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "you-picked ai-picked"
        "you-title ai-title"
        "result-winner result-winner";
    }

    .results__winner {
        position: relative;
        bottom: 6em;
    }

    .results__text {
        font-size: 3rem;
        padding-bottom: .5rem;
        text-transform: uppercase;
    }

    .play-again {
        font-size: 1rem;
        padding: 0.6rem 2rem;
    }

    .winner .choice::after {
        box-shadow: 0 0 0 20px #293251,
                    0 0 0 40px #232c4b,
                    0 0 0 70px #1e2949;
    
        opacity: .07;
        animation: winner 1s ease forwards;
    }

    .choice::after {
        z-index: -2;
    }
}

@media (min-width: 575px) and (max-width: 619px) {
    .results {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        place-items: center;
        grid-template-areas: 'you-picked ai-picked'
        'you-title ai-title';
        max-width: 600px;
        margin: 5em auto 0em;
    }

    .results__heading {
        font-size: 1rem;
    }

    .results__result {
        min-width: 5rem;
        min-height: 5rem;
        background: #16213d;
        border-radius: 50%;
        transform: scale(1.1);
        z-index: -1;
    }

    .results.show-winner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "you-picked ai-picked"
        "you-title ai-title"
        "result-winner result-winner";
    }

    .results__winner {
        position: relative;
        bottom: 6em;
    }

    .results__text {
        font-size: 3rem;
        padding-bottom: .5rem;
        text-transform: uppercase;
    }

    .play-again {
        font-size: 1rem;
        padding: 0.6rem 2rem;
    }

    .winner .choice::after {
        box-shadow: 0 0 0 20px #293251,
                    0 0 0 40px #232c4b,
                    0 0 0 70px #1e2949;
    
        opacity: .07;
        animation: winner 1s ease forwards;
    }

    .choice::after {
        z-index: -2;
    }
}

@media (min-width: 620px) and (max-width: 719px) {
    .results {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        place-items: center;
        grid-template-areas: 'you-picked ai-picked'
        'you-title ai-title';
        max-width: 700px;
        margin: 5em auto 0em;
    }

    .results__heading {
        font-size: 1rem;
    }

    .results__result {
        min-width: 5rem;
        min-height: 5rem;
        background: #16213d;
        border-radius: 50%;
        transform: scale(1.1);
        z-index: -1;
    }

    .results.show-winner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "you-picked ai-picked"
        "you-title ai-title"
        "result-winner result-winner";
    }

    .results__winner {
        position: relative;
        bottom: 6em;
    }

    .results__text {
        font-size: 3rem;
        padding-bottom: .5rem;
        text-transform: uppercase;
    }

    .play-again {
        font-size: 1rem;
        padding: 0.6rem 2rem;
    }

    .winner .choice::after {
        box-shadow: 0 0 0 20px #293251,
                    0 0 0 40px #232c4b,
                    0 0 0 70px #1e2949;
    
        opacity: .07;
        animation: winner 1s ease forwards;
    }

    .choice::after {
        z-index: -2;
    }
}

/* Rules */


.rules-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    border: 2px solid var(--header-outline);
    border-radius: .6rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: var(--light-text);
    padding: .6rem 2.5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
}


.rules-btn:focus {
    border: 2px solid #fff;
}

@media (min-width: 320px) and (max-width: 719px) {
    .rules-btn {
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%,0);
        font-size: 0.8rem;
        padding: .6rem 1rem;
    }
}

@media (min-width: 475px) and (max-width: 719px) {
    .rules-btn {
        width: 10em;
    }
}


@media (min-width: 720px) and (max-width: 1350px) {
    .rules-btn {
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%,0);
        width: 8em;
    }
}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: var(--shadow-dark);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

@media (min-width: 320px) and (max-width: 719px) {
    .modal {
        background-color: #fff;  
    }
}

.show-modal {
    opacity: 1;
    pointer-events: initial;
}

.modal__container {
    background: #fff;
    border-radius: .5em;
}

.modal__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
}

@media (min-width: 320px) and (max-width: 719px) {
    .modal__header {
        justify-content: center;
        align-items: center;
        padding: 2rem 2rem 5rem;
        margin-top: -7em;
    }
}


.modal__heading {
    font-size: 1.5rem;
    color: var(--dark-text);
}

@media (min-width: 320px) and (max-width: 719px) {
    .modal__heading {
        text-transform: uppercase;
    }
}

.close-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 719px) {
    .close-btn {
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 4em;
    }
}

.rules-img {
    padding: 2rem 4rem;
}

@media (min-width: 320px) and (max-width: 719px) {
    .rules-img {
        padding: 0;
    }
}

/* Utilities */

.preload * {
    transition: none;
}

.hidden {
    display: none;
}

@-ms-viewport{
    width: device-width;
}